html {
  background: linear-gradient(120deg, #b9f300, #00daff);
  font-family: monospace;
  scroll-behavior: smooth;
}

header {
  position: fixed;
  width: 99%;
}

nav {
  background: rgba(46, 42, 42, 0.5);
  padding: 2px;
  border-radius: 10px;
}

nav>ul {
  display: flex;
  justify-content: end;
}

nav>h1 {
  color: whitesmoke;
  font-weight: 800;
  font-size: xx-large;
  position: absolute;

}

nav>ul>li {
  padding-right: 2%;
  list-style: none;
  transition: color 0.5s;
}

#navbar a {
  text-decoration: none;
  color: whitesmoke;
  font-weight: 800;
  font-size: larger;
  transition: color 0.5s;
}

#navbar a:hover {
  color: black;
}

.welcome-section {
  /* width: 50%;
  margin: auto;
  text-align: center; */
  color: whitesmoke;
  height: 950px;
  /*This part is important for centering*/
  display: grid;
  place-items: center;
}

.typing-effect {
  width: 33ch;
  animation: typing 2s steps(33), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 4em;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/* .welcome-section > h1 {
  font-size: 100px;
} */

.break-div {
  background: rgba(46, 42, 42, 0.5);
  height: 3px;
  width: auto;
  margin: 2px;
  display: flexbox;
  border-radius: 10px;
}

.about-me {
  width: 50%;
  margin: auto;
  height: 950px;

}

.about-me p {
  font-size: 1.8rem;
  color: rgba(46, 42, 42, 0.8);
  text-align: center;
}

.titles {
  font-size: 2rem;
  color: whitesmoke;
  text-align: center;
}

.skills {
  margin: auto;
  height: 950px;
}

.skill-icons {
  display: flex;
  justify-content: space-evenly;
}

.skills i {
  font-size: 200px;
  color: rgba(46, 42, 42, 0.8);
  transition: color 0.5s;
}

.skills i:hover {
  color: rgba(46, 42, 42, 0.3);
}

#projects {
  margin: auto;
  height: 950px;
}

.coming-soon {
  height: auto;
  width: 50%;
  border: 3px solid rgba(46, 42, 42, 0.8);
  border-radius: 10px;
  margin: auto;
}

.coming-soon p {
  font-size: xx-large;
  font-weight: 1000;
  color: rgba(46, 42, 42, 0.8);
  text-align: center;
}

#contact {
  height: 95vh;

}

.contact-icons {
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}

#contact i {
  font-size: 100px;
  color: rgba(46, 42, 42, 0.8);
  transition: color 0.5s;
}

#contact i:hover {
  color: rgba(46, 42, 42, 0.3);
}